body {
  background-image: url("../images/lfz-background.jpg");
  background-repeat: no-repeat;
  height: 97vh;
  width: 97vw;
}

.title-container {
  background-color: #5DB7DE;
}

.title-text {
  font-size: 6rem;
  letter-spacing: 25px;
  font-family: "Inconsolata", monospace;
}

.aside {
  font-family: "Inconsolata", monospace;
  font-size: 1.75rem;
  color: black;
  height: 100%;
}

.aside > div {
  background-color: #5DB7DE;
  text-align: center;
  height: 12%;
  width: 80%;
}

.aside div > * {
  margin-top: 6%;
  padding-top: 11%;
}

.stats-text {
  text-decoration: underline;
  font-style: italic;
  font-size: 2.25rem;
}

.games-score, .attempts-score, .accuracy-score {
  color: red;
}

.shuffle-button {
  font-family: "Inconsolata", monospace;
  font-size: 2rem;
  margin-top: 6%;
  width: 80%;
  height: 13%;
  background-color: #5DB7DE;
  border-width: 0;
  border-radius: 15px;
  font-weight: bold;
  font-style: italic;
  border: none;
  box-shadow: 0 9px #999;
  outline: none;
  cursor: pointer;
}

.shuffle-button:hover {
  background-color: #3772FF;
  color: #000;
}

.shuffle-button:active {
  background-color: #3772FF;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.main {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  margin: 3px;
  height: 30%;
  padding: 0;
  position: relative;
}

.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.card-back {
  background-image: url("../images/lfz-card.jpg");
}

.js-logo {
  background-image: url("../images/js-logo.png");
}

.html-logo {
  background-image: url("../images/html-logo.png");
}

.github-logo {
  background-image: url("../images/gitHub-logo.png");
}

.docker-logo {
  background-image: url("../images/docker-logo.jpg");
}

.css-logo {
  background-image: url("../images/css-logo.png");
}

.mysql-logo {
  background-image: url("../images/mysql-logo.jpg");
}

.node-logo {
  background-image: url("../images/node-logo.png");
}

.php-logo {
  background-image: url("../images/php-logo.jpeg");
}

.react-logo {
  background-image: url("../images/react-logo.png");
}

.modal {
  position: fixed;
  background-image: linear-gradient(-90deg, red, yellow);
  color: black;
  width: 60%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  font-size: 4rem;
  box-shadow: 30px 30px #F90093, 40px 40px #61E294, 50px 50px #B47AEA;
  font-family: "Inconsolata", monospace;
  font-weight: bolder;
  transition: width 1.5s;
  border-radius: 50px;
}

.modal:hover {
  width: 80%;
}

.modal-text {
  position: relative;
  top: 5px;
}

.modal-text > p {
  font-family: "Inconsolata", monospace;
  font-size: 3rem;
}

.reset {
  font-family: "Inconsolata", monospace;
  font-size: 1.75rem;
  height: 50px;
  width: 250px;
  background-color: forestgreen;
  border-width: 0;
  border-radius: 10px;
  border: 0.5px ridge black;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

.reset:hover {
  background-color: greenyellow;
}

.reset:active {
  background-color: greenyellow;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.hidden {
  display: none;
}
