body {
  background-image: url("../images/background.gif");
  background-size: 100% 150%;
  background-repeat: no-repeat;
  height: 97vh;
  width: 97vw;
}

.title-text {
  font-size: 5rem;
  letter-spacing: 25px;
  font-family: "Inconsolata", monospace;
  color: #EEC643;
}

.aside {
  font-family: "Inconsolata", monospace;
  font-size: 1.5rem;
  color: black;
  height: 100%;
}

.aside > div {
  background-color: rgba(238, 198, 67, 0.5);
  text-align: center;
  height: 9%;
  width: 80%;
  border-radius: 15px;
}

.aside div > * {
  margin-top: 6%;
  padding-top: 12%;
}

.games-score, .matches-score, .attempts-score, .accuracy-score {
  color: red;
}

.start {
  font-family: "Inconsolata", monospace;
  font-size: 1.75rem;
  margin-top: 6%;
  width: 80%;
  height: 10%;
  background-color: #EEC643;
  border-width: 0;
  border-radius: 15px;
  font-weight: bold;
  font-style: italic;
  border: 2px double #000;
  outline: none;
  cursor: pointer;
}

.start:hover {
  background-color: #6D5A1F;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.start:active {
  background-color: #6D5A1F;
  box-shadow: 0 5px #EEF0F2;
  transform: translateY(4px);
}

.shuffle-button {
  font-family: "Inconsolata", monospace;
  font-size: 1.75rem;
  margin-top: 6%;
  width: 80%;
  height: 10%;
  background-color: #EEC643;
  border-width: 0;
  border-radius: 15px;
  font-weight: bold;
  font-style: italic;
  border: 2px double #000;
  outline: none;
  cursor: pointer;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
}

.shuffle-button:hover {
  background-color: #6D5A1F;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.shuffle-button:active {
  background-color: #6D5A1F;
  box-shadow: 0 5px #EEF0F2;
  transform: translateY(4px);
}

.shuffle-button:after {
  content: "";
  background: #C3A337;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.shuffle-button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.main {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  margin: 3px;
  height: 30%;
  padding: 0;
  position: relative;
}

.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.card-back {
  background-image: url("../images/storm-trooper.gif");
  transition: transform .2s;
}

.card-back:hover {
  border: 2px groove red;
  transform: scale(1.2);
  box-shadow: 5px 5px red, 10px 10px yellow;
  z-index: 10;
}

.chewbacca {
  background-image: url("../images/chewbacca.jpg");
}

.emperor {
  background-image: url("../images/emperor.jpg");
}

.hansolo {
  background-image: url("../images/hansolo.webp");
}

.leia {
  background-image: url("../images/leia.jpg");
}

.luke {
  background-image: url("../images/luke.png");
}

.obiwan {
  background-image: url("../images/obiwan.webp");
}

.padme {
  background-image: url("../images/padme.jpg");
}

.vader {
  background-image: url("../images/vader.jpg");
}

.yoda {
  background-image: url("../images/yoda.jpg");
}

.modal {
  position: fixed;
  background-image: linear-gradient(-90deg, red, yellow);
  color: black;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40%;
  font-size: 3rem;
  box-shadow: 20px 20px #F90093, 30px 30px #61E294, 40px 40px #B47AEA;
  font-family: "Inconsolata", monospace;
  font-weight: bolder;
}

.modal-text {
  position: relative;
  top: 5px;
}

.modal-text > p {
  font-family: "Inconsolata", monospace;
  font-size: 2rem;
}

.close {
  float: right;
  font-size: 5rem;
  font-weight: bolder;
  color: #000;
}

.close:hover, .close:focus {
  cursor: pointer;
  color: #aaaaaa;
  text-decoration: none;
}

.close:active {
  transform: translateY(4px);
}

.reset {
  font-family: "Inconsolata", monospace;
  font-size: 1.75rem;
  height: 50px;
  width: 250px;
  background-color: forestgreen;
  border-width: 0;
  border-radius: 10px;
  border: 0.5px ridge black;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

.reset span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.reset span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.reset:hover {
  background-color: greenyellow;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.reset:hover span {
  padding-right: 25px;
}

.reset:hover span:after {
  opacity: 1;
  right: 0;
}

.reset:active {
  background-color: greenyellow;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media only screen and (max-width: 310px) {
  .title-text {
    font-size: 3rem;
    letter-spacing: 5px;
    width: 80%;
    text-align: center;
  }

  .aside {
    font-size: 0.75rem;
  }

  .shuffle-button {
    font-size: 0.75rem;
  }

  .card-item {
    height: 30%;
    width: 10%;
  }

  .modal {
    font-size: 0.75rem;
    height: 20%;
    width: 40%;
  }

  .modal-text > p {
    font-size: 0.75rem;
  }

  .reset {
    font-size: 0.75rem;
    height: 20px;
    width: 120px;
  }

  .close {
    font-size: 2rem;
  }
}

/* Extra small devices (phones, 310px and up) */
@media only screen and (min-width: 310px) {
  .title-text {
    font-size: 3rem;
    letter-spacing: 5px;
    width: 80%;
    text-align: center;
  }

  .aside {
    font-size: 1rem;
  }

  .shuffle-button {
    font-size: 1rem;
  }

  .card-item {
    height: 30%;
    width: 15%;
  }

  .modal {
    font-size: 1rem;
    height: 15%;
    width: 40%;
  }

  .modal-text > p {
    font-size: 1rem;
  }

  .reset {
    font-size: 1rem;
    height: 20px;
    width: 120px;
  }

  .close {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 510px) {
  .title-text {
    font-size: 3rem;
    letter-spacing: 5px;
    width: 80%;
    text-align: center;
  }

  .aside {
    font-size: 1rem;
  }

  .shuffle-button {
    font-size: 1rem;
  }

  .card-item {
    height: 30%;
    width: 15%;
  }

  .modal {
    font-size: 1rem;
    height: 20%;
    width: 40%;
  }

  .modal-text > p {
    font-size: 1rem;
  }

  .reset {
    font-size: 1rem;
    height: 20px;
    width: 120px;
  }

  .close {
    font-size: 2rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .title-text {
    font-size: 4rem;
    letter-spacing: 5px;
    text-align: center;
  }

  .aside {
    font-size: 1rem;
  }

  .shuffle-button {
    font-size: 1rem;
  }

  .card-item {
    height: 30%;
    width: 15%;
  }

  .modal {
    font-size: 1rem;
    height: 20%;
    width: 40%;
  }

  .modal-text > p {
    font-size: 1rem;
  }

  .reset {
    font-size: 1rem;
    height: 30px;
    width: 140px;
  }

  .close {
    font-size: 2.5rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    background-size: 300% 300%;
  }

  .title-text {
    font-size: 4rem;
    letter-spacing: 5px;
  }

  .aside {
    font-size: 1.5rem;
  }

  .shuffle-button {
    font-size: 1.5rem;
  }

  .card-item {
    height: 30%;
    width: 15%;
  }

  .modal {
    font-size: 1.5rem;
    height: 20%;
    width: 30%;
  }

  .modal-text > p {
    font-size: 1.4rem;
  }

  .reset {
    font-size: 1.25rem;
    height: 40px;
    width: 150px;
  }

  .close {
    font-size: 3rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .title-text {
    font-size: 4rem;
    letter-spacing: 5px;
    width: 100%;
  }

  .aside {
    font-size: 1.5rem;
  }

  .shuffle-button {
    font-size: 1.5rem;
  }

  .card-item {
    height: 30%;
    width: 15%;
  }

  .modal {
    font-size: 1.5rem;
    height: 20%;
    width: 30%;
  }

  .modal-text > p {
    font-size: 1.4rem;
  }

  .reset {
    font-size: 1.25rem;
    height: 40px;
    width: 150px;
  }

  .close {
    font-size: 3rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .title-text {
    font-size: 5rem;
    letter-spacing: 25px;
    width: 100%;
  }

  .aside {
    font-size: 2rem;
  }

  .shuffle-button {
    font-size: 2rem;
  }

  .card-item {
    height: 30%;
  }

  .modal {
    font-size: 1.5rem;
    height: 20%;
    width: 30%;
  }

  .modal-text > p {
    font-size: 1.4rem;
  }

  .reset {
    font-size: 1.25rem;
    height: 40px;
    width: 150px;
  }

  .close {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 1200px) {
  .title-text {
    font-size: 5rem;
    letter-spacing: 10px;
    width: 100%;
  }

  .modal {
    height: 20%;
    width: 30%;
  }
}

.hidden {
  display: none;
}
